.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container .left-side {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.login-container .left-side .header {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 24px;
}

.login-container .left-side .header span {
    font-size: 16px;
    font-weight: 600;
    color: #636D7E;
}

.login-container .left-side .content {
    width: 100%;
    height: calc(100% - 128px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.login-container .left-side .content .header {
    width: 412px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    gap: 8px;
}

.login-container .left-side .content .header span {
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    color: #000000;
}

.login-container .left-side .content .header p {
    font-size: 16px;
    font-weight: 500;
    color: #636D7E;
}

.login-container .left-side .content .form {
    width: 412px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.login-container .left-side .content .form .input {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

.login-container .left-side .content .form .input input {
    width: 100%;
    height: 40px;
    padding: 0 0 0 16px;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    color: #636D7E;
}

.login-container .left-side .content .form .button {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container .left-side .content .form .button button {
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 4px;
    background-color: #007642;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}

.login-container .left-side .content .form .button button:hover {
    background-color: #00542F;
}

.login-container .left-side .content .alternative {
    width: 100%;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.login-container .left-side .content .alternative span {
    font-size: 16px;
    font-weight: 500;
    color: #636D7E;
}

.login-container .left-side .content .alternative p {
    font-size: 16px;
    font-weight: 600;
    color: #007642;
    text-decoration: none;
    cursor: pointer;
}

.login-container .left-side .footer {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container .left-side .footer span {
    font-size: 16px;
    font-weight: 600;
    color: #636D7E;
}

.login-container .right-side {
    width: 100%;
    max-width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F4F8;
}

.login-container .right-side img {
    width: 340px;
    height: 110px;
}