.messages {
    max-height: 648px;
    overflow-y: auto;
    scrollbar-width: thin;
    padding-right: 12px;
}

.messages::-webkit-scrollbar {
    color: #FFF;
    width: 12px;
}

.messages::-webkit-scrollbar-track {
    background-color: transparent;
}

.messages::-webkit-scrollbar-thumb {
    background-color: #FFF;
    border-radius: 4px;
}

.file.active {
    filter: brightness(0) saturate(100%) invert(53%) sepia(35%) saturate(1570%) hue-rotate(350deg) brightness(96%) contrast(95%);
}

.delete.active {
    filter: brightness(0) saturate(100%) invert(94%) sepia(35%) saturate(684%) hue-rotate(309deg) brightness(98%) contrast(100%);
}

.delete.active:hover {
    filter: brightness(0) saturate(100%) invert(53%) sepia(35%) saturate(1570%) hue-rotate(350deg) brightness(96%) contrast(95%);
}

.delete:hover {
    filter: brightness(0) saturate(100%) invert(64%) sepia(7%) saturate(907%) hue-rotate(190deg) brightness(88%) contrast(88%);
}

.divider {
    background-color: #EFF0F3;
}

.archives::-webkit-scrollbar {
    color: #FFF;
    width: 8px;
}

.archives::-webkit-scrollbar-track {
    background-color: transparent;
}

.archives::-webkit-scrollbar-thumb {
    background-color: #FBDBAD;
    border-radius: 4px;
}

.pendings::-webkit-scrollbar {
    color: #FFF;
    width: 8px;
}

.pendings::-webkit-scrollbar-track {
    background-color: transparent;
}

.pendings::-webkit-scrollbar-thumb {
    background-color: #dadce3;
    border-radius: 4px;
}

.trashcontainer:hover .trash {
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(127deg) brightness(102%) contrast(101%);
}

/* .questions {
    margin: 8px 0px 0px 8px;
} */

.questions::-webkit-scrollbar {
    color: #FFF;
    width: 8px;
    padding-left: 8px;
}

.questions::-webkit-scrollbar-track {
    background-color: transparent;
}

.questions::-webkit-scrollbar-thumb {
    background-color: #E0E0E0;
    border-radius: 4px;
}

.answer::-webkit-scrollbar {
    color: #FFF;
    width: 8px;
    padding-left: 8px;
}

.answer::-webkit-scrollbar-track {
    background-color: transparent;
}

.answer::-webkit-scrollbar-thumb {
    background-color: #F9CAA2;
    border-radius: 4px;
}